<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">


		<script src="js/vendor/modernizr-2.8.3.min.js"></script>
	</head>
	<body>
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!-- Add your site or application content here -->

		<!--
			d8888b.  .d8b.   .o88b. db   dD  d888b  d8888b.  .d88b.  db    db d8b   db d8888b.
			88  `8D d8' `8b d8P  Y8 88 ,8P' 88' Y8b 88  `8D .8P  Y8. 88    88 888o  88 88  `8D
			88oooY' 88ooo88 8P      88,8P   88      88oobY' 88    88 88    88 88V8o 88 88   88
			88~~~b. 88~~~88 8b      88`8b   88  ooo 88`8b   88    88 88    88 88 V8o88 88   88
			88   8D 88   88 Y8b  d8 88 `88. 88. ~8~ 88 `88. `8b  d8' 88b  d88 88  V888 88  .8D
			Y8888P' YP   YP  `Y88P' YP   YD  Y888P  88   YD  `Y88P'  ~Y8888P' VP   V8P Y8888D'


		 -->

		<div id="_background">
			<div id="overlay_image" class="fullscreen"></div>
			<div id="overlay_shade" class="fullscreen"></div>
		</div>


		<!--
			.88b  d88.  .d8b.  d888888b d8b   db      d888888b d888888b d888888b db      d88888b
			88'YbdP`88 d8' `8b   `88'   888o  88      `~~88~~'   `88'   `~~88~~' 88      88'
			88  88  88 88ooo88    88    88V8o 88         88       88       88    88      88ooooo
			88  88  88 88~~~88    88    88 V8o88         88       88       88    88      88~~~~~
			88  88  88 88   88   .88.   88  V888         88      .88.      88    88booo. 88.
			YP  YP  YP YP   YP Y888888P VP   V8P         YP    Y888888P    YP    Y88888P Y88888P
			
			
		 -->
		<div id="_mainTitle_wrapper">
			<div id="_mainTitle">
				<div id="title1" class="">
					<svg height="45" width="250" id="top_polyline">
						<polyline points="45,0 250,0 250,45 0,45 45,0"
							style="fill:none;stroke:white;stroke-width:3" />
					</svg>
					<span style="margin-left: 60px; margin-top: 10px; display: inline-block;">powered by</span> <img src="img/perabeats.png" height="15px" alt="perabeats">
				</div>
				<div id="title2" class="title_bordered_art">
					<h2>Score Updates 
						<span class="right_bottom_Callout">
						<svg height="20" width="20" class="top_polyline_cursor">
							<polygon points="20,0 20,20 0,20 20,0"
								style="fill:white;stroke:none;" />
						</svg>
						Live</span>
					</h2>
					<h1>SLUG 2K16</h1>
				</div>
				<div id="title3" class="title_bordered_art"></div>
				<div id="title4_side_rankingTitle">Rankings</div>
				<div id="title4" class="title_bordered_art">
					<div class="ranking placement placed_1">
						<img class="logo" src="img/uni_logo/PER.png" alt="">
						<span class="name">University of Peradeniya</span>
						<span class="points">240pts</span>
					</div>
					<div class="ranking placement placed_2">
						<img class="logo" src="img/uni_logo/PER.png" alt="">
						<span class="name">University of Peradeniya</span>
						<span class="points">240pts</span>
					</div>
					<div class="ranking placement placed_3">
						<img class="logo" src="img/uni_logo/PER.png" alt="">
						<span class="name">University of Peradeniya</span>
						<span class="points">240pts</span>
					</div>
					<div class="alinkwrapper"><a href="https://www.facebook.com/perabeatspage" target="_blank">
						<div class="ranking more_button">Visit <img src="img/perabeats.png" height="15px" alt="perabeats"> on Facebook</div>
					</a></div>
				</div>
				<div id="title5" class="title_bordered_art">
						<svg height="70" width="400" id="bottom_polygon">
							<polygon points="0,0 400,0 380,70 300,30 0,0"
								style="fill:white;stroke:none;" />
						</svg>
				</div>

			</div>
		</div>


		<!--
			d888888b d888888b .88b  d88. d88888b db      d888888b d8b   db d88888b
			`~~88~~'   `88'   88'YbdP`88 88'     88        `88'   888o  88 88'
			   88       88    88  88  88 88ooooo 88         88    88V8o 88 88ooooo
			   88       88    88  88  88 88~~~~~ 88         88    88 V8o88 88~~~~~
			   88      .88.   88  88  88 88.     88booo.   .88.   88  V888 88.
			   YP    Y888888P YP  YP  YP Y88888P Y88888P Y888888P VP   V8P Y88888P
			
			
		 -->


		<div id="_scores_timeline">
			<div id="timeline_length"></div>
			<div id="timeline_labels">
				<div class="currentCursor active added" id="timeline_link_live">Live</div>
				<div class="currentCursor" id="timeline_link_template" style="display: none;">### ##</div>
				<div id="_timline_label_appendPoint"></div>
			</div>
		</div>
		<!--
			.d8888.  .o88b.  .d88b.  d8888b. d88888b .d8888.
			88'  YP d8P  Y8 .8P  Y8. 88  `8D 88'     88'  YP
			`8bo.   8P      88    88 88oobY' 88ooooo `8bo.
			  `Y8b. 8b      88    88 88`8b   88~~~~~   `Y8b.
			db   8D Y8b  d8 `8b  d8' 88 `88. 88.     db   8D
			`8888Y'  `Y88P'  `Y88P'  88   YD Y88888P `8888Y'
			
			
		 -->

		<div id="_scores_sidebar">
			<img src="img/perabeats.png" alt="" align="center" id="mobileHeaderIcon">
			<h3 class="sideScores_title" id="timeline_link_live_a">Live Matches</h3>
			<div class="scorecard no-live" id="scorecard_noLive">
				<img src="img/live.png" alt="">
				<br>
				<span>No live matches at the moment</span>
			</div>
			<div id="_liveScores_appendPoint"></div>
			<div class="scorecard live" id="timeline_template_live" style="display: none;">
				<div class="score_header">
					<img src="img/sports_logo/Hockey.png" alt="">
					<span class="sport">Hockey</span>
					<span class="game_level">Men's Group Matches</span><br>
					<span class="live_state"><span class="live_icon"> </span> LIVE</span>
				</div>
				<div class="score_body">
					<span class="score_teams">
						<span class="score_team1 score_team">Team 1</span>
						<span class="score_vs">vs.</span>
						<span class="score_team2 score_team">Team 2</span>
					</span>
					<div class="score_display">
						<img src="img/uni_logo/PER.png" alt="" class="score_team1_logo score_team_logo">
						<span class="score_team1_score">0</span>-<span class="score_team2_score">0</span>
						<img src="img/uni_logo/PER.png" alt="" class="score_team2_logo score_team_logo">
					</div>
					<div class="score_footer">
						<img src="img/timer.png" alt="" class="timer">
						<span class="score_timer"><span class="t_hours">00</span>:<span class="t_minutes">00</span>:<span class="t_seconds">00</span></span>
						<img src="img/location.png" alt="" class="location">
						<span class="score_location">Sri Lanka</span>

					</div>
				</div>
			</div>
			<h3 class="sideScores_title" id="recentScoreAvailable">Recent Matches</h3>
			<div id="_recentScores_appendPoint"></div>
			<div class="scorecard" id="timeline_template_recent" style="display: none;">

				<div class="score_header">
					<img src="img/sports_logo/Hockey.png" alt="">
					<span class="sport">[Game]</span>
					<span class="game_level">[Round Information]</span>
				</div>
				<div class="score_body">
					<span class="score_teams">
						<span class="score_team1 score_team">[Team]</span>
						<span class="score_vs">vs.</span>
						<span class="score_team2 score_team">[Team]</span>
					</span>
					<div class="score_display">
						<img src="img/uni_logo/temp.png" alt="" class="score_team1_logo score_team_logo">
						<span class="score_team1_score">[##]</span>-<span class="score_team2_score">[##]</span>
						<img src="img/uni_logo/temp.png" alt="" class="score_team2_logo score_team_logo">
					</div>
					<div class="score_footer">
						<img src="img/timer.png" alt="" class="timer">
						<span class="score_timer">ended [Time]</span>
						<img src="img/location.png" alt="" class="location">
						<span class="score_location">[Location]</span>
						<a class="score_button" href="https://www.facebook.com/perabeatspage" target="_blank"><img src="img/album.png" alt="">View Photos</a>
					</div>
				</div>
				
			</div>
			<div id="scroll_padder" style="min-height: 100px;"></div>
		</div>

		<!--
			d88888b  .d88b.   .d88b.  d888888b d88888b d8888b.
			88'     .8P  Y8. .8P  Y8. `~~88~~' 88'     88  `8D
			88ooo   88    88 88    88    88    88ooooo 88oobY'
			88~~~   88    88 88    88    88    88~~~~~ 88`8b
			88      `8b  d8' `8b  d8'    88    88.     88 `88.
			YP       `Y88P'   `Y88P'     YP    Y88888P 88   YD
			
			
		 -->

		<div id="_mainTitle_footer"><a href="http://imadhusanka.me" target="_blank">developed by Ishan Madhusanka for <img align="baseline" src="img/perabeats.png" height="15px" alt="perabeats"></a></div>
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
		<script src="js/vendor/jquery.easing-1.3.js"></script>
		<script src="js/vendor/moment.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>

		<script type="text/javascript" src="js/socket.io.js"></script> <!-- Library -->
		<script type="text/javascript" src="js/scripts_io.js"></script> <!-- Custom -->

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!--         <script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='https://www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X','auto');ga('send','pageview');
		</script> -->
	</body>
</html>
